<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Interface</title>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="icon" type="image/png" href="static/css/images/favicon.ico">
<html>
  <head>
      <title>Database Interface</title>
  </head>
  <body>
      <div class="container">
          <h1>Internal interface for use with postgresql database.</h1>
          <h2><a href="https://modern.huma-num.fr/" target="_blank" style="text-decoration: none; color: #f2b63f;">Modelling Enlightenment</a>  </h2>
          <img src="static/css/images/banner_modern.png"
          <div class="search-container">
              <form action="/search" method="GET">
                  <input type="text" placeholder="Search..." name="q" required>
                  <input type="submit" value="Search">
              </form>
          </div>
  </body>
</html>
